@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100);
html {
    font-family: 'Roboto', sans-serif;
}

body.body-red {
    background-color: #f44336;
}
body.body-blue {
    background-color: #2276d2;
}
body.body-gray {
    background-color: #333333;
}


/* Navbar */
.navbar {
    z-index:3;
    height:60px;
    transition: 0.5s;
    opacity: 0.85;
}
.navbar-transparent {
    background-color: transparent;
}
.navbar:hover {
    z-index:3;
    height:60px;
    opacity: 1;
}
.navbar-brand {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
.nav-link.dropdown-toggle {
    margin-top: 7px;
    margin-bottom: 7px;
}
.nav-link, .navbar-login {
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.2s;
}
.nav-link:focus, .navbar-login:focus {
    text-decoration: none;
}

.navbar-login {
    opacity: 0.75;
}
.navbar-login:hover {
    text-decoration: none;
    opacity: 1;
}

.navbar-login-dark, .navbar-login-dark:hover {
    color: #fff;
}

.navbar-login-light, .navbar-login-light:hover {
    color: #3A3A3A;
}

.user-image {
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 0;
}

.container {
    position: relative;
    padding: 30px;
    margin: 0;
    width:100%;
}

.social-media-row {
    height: 70px;
}
.social-media-icon {
    color: inherit;
    opacity: 0.5;
    transition: 0.25s;
}
.social-media-icon:hover {
    color: inherit;
    text-decoration: none;
    opacity: 1;
    font-size: 18px;
}

.spacing-top-30 {
    margin-top: 30px;
}

.spacing-top-50{
    margin-top: 50px;
}

.about-me-image {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 50%;
    margin-right: 10px;
    shape-outside: circle(50%);
}

a.about-header{
    font-size: 33px;
    font-weight: 600;
    transition: 0.25s;
    text-decoration: none;
    color: inherit;
}
a.about-header.collapsed {
    font-size: 30px;
    transition: 0.25s;
}
a.about-header:hover {
    font-size: 33px;
    transition: 0.25s;
}


.image {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
.img-thumbnail {
    background-color: #232323;
    border-color: #232323;
}

div.alert.alert-dismissible {
    border-radius: 1px;
    opacity: 0.9;
}

.btn:hover {
    cursor: pointer;
}

label {
    font-weight: bold;
}

dt {
    text-align: right;
}


/* Comments */
.comments-title {
    margin-top: 10px;
    margin-bottom: 10px;
}
.comments-title>i {
    margin-right: 10px;
}

.author-image {
    width: 50px;
    height: 50px;
    float: left;
}
.author-name {
    float: left;
    margin-left: 15px;
}
.author-name>h4 {
    margin: 5px 0px;
}
.author-time {
    font-size: 11px;
    font-style: italic;
    color: #aaaaaa;
}
.comment-card {
    margin-bottom: 10px;
}
.comment-card-body {
    padding: 10px;
}
.comment-content {
    clear: both;
    margin-left: 65px;
    font-size: 16px;
    line-height: 1.3em;
}


td.comment-icons-column {
    white-space: nowrap;
    width: 120px;
}

.comment-icons-column>form {
    width: 30px;
}




/* Footer */
.footer {
    position: relative;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 30px;
    font-size: 12px;
    opacity: 0.5;
}
.footer-fixed {
    position: fixed;
    bottom: 10px;
}
.footer-dark {
    color: #fff;
}
.footer-light {
    color: #3A3A3A;
}
/* End of Footer */

/* Places */

.container-places {
    position: absolute;
    top:30px;
    bottom: 0;
    padding: 30px;
    padding-top: 50px;
    margin: 0;
    width:100%;
}

#map {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translateX(-50%) translateY(-50%);
}

#mapWall {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
}

.placeBox, .newPlaceButton {
    position: relative;
    left: 0;
    display: block;
    width: 300px;
    background: #ffffff;
    padding: 10px;
    margin: 8px;
    font-size: 16px;
    color: #232323;
    border-radius: 2px;
    opacity: 0.4;
    z-index: 2;
    transition:0.5s;
}

/* Makes it possible to trigger fly even when text is clicked */
.placeBox strong, .newPlaceButton strong {
    pointer-events: none;
}

.placeBox:hover, .newPlaceButton:hover {
    left: 10px;
    width: 350px;
    margin:15px;
    opacity: 0.7;
    cursor: pointer;
}

.selected-placeBox {
    left: 30px;
    width: 360px;
    margin:15px;
    opacity: 0.9;
    cursor: default;
    z-index: -1;
}
.selected-placeBox:hover{
    left: 30px;
    width: 360px;
    margin:15px;
    opacity: 0.9;
    cursor: default;
    z-index: -1;
}

.newPlaceButton {
    background: yellow;
}

.newPlaceButton:hover {
    left: 20px;
    margin:15px;
    opacity: 0.7;
    cursor: pointer;
}


.placeInfoHead {
    position: absolute;
    top: 60px;
    right: 30px;
    display: block;
    height: 55px;
    width: 450px;
    background: #ffffff;
    color: #232323;

    margin-bottom: 0;
    padding: 10px 20px;
    border-radius: 3px 3px 0 0;
    opacity: 0.95;
    z-index: 2;
}
.placeInfoHead h1{
    font-size: 40px;
    font-weight: 600;
    opacity: 0.8;
}

.placeInfoBody {
    position: absolute;
    top: 115px;
    right: 30px;
    display: block;
    height: auto;
    width: 450px;
    background: #ffffff;

    font-size: 14px;
    color: #232323;

    margin-top: 0;
    padding: 17px 25px;
    border-radius: 0px 0px 3px 3px;
    opacity: 0.8;
    z-index: 2;
}
.placeInfoBody img {
    /*display: block;*/
    margin: auto;
    width: 100%;
}

.placeStatus {
    margin: auto;
    display: block;
    height: 50px;
    width: 200px;
    background: #ffffff;
    color: #232323;
    border-radius: 3px;
    opacity: 0.70;
    z-index: 2;
}
/* End of Places */